amazon_review.zip
*.aux
*.log
*.synctex.gz
amazon_book_review.zip
arquivo_GB.txt
cont_c.exe
old_newspaper.zip
books_data.csv
drive-download-20251102T154332Z-1-003.zip
arquivo_500MB.txt
arquivo1GB.txt
arquivo2GB.txt
arquivo4GB.txt
